.headerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 27px 63px;
    box-sizing: border-box;
}

.headerLogo>h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: left;
    color: #0E300BE8;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 46px;
}

.navLinks a {
    color: #0E300BE8;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.68px;
    text-align: left;
}

.headerButton {
    display: flex;
    gap: 12px;
    padding: 5px 28px;
    box-sizing: border-box;
    background: #82A63769;
    border-radius: 8px;
    align-items: center;
}

.headerButton p {
    color: #0E300BE8;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.68px;
    text-align: left;
}

@media screen and (max-width:500px) {
    .headerContainer {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }

    .navLinks {
        flex-direction: column;
    }

    .headerLogo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .headerLogo svg {
        cursor: pointer;
    }

    .headerContainer .navLinks,
    .headerContainer .headerButton {
        display: none;
    }

    .headerCont .navLinks,
    .headerCont .headerButton {
        display: flex;
    }
}